.next-btn {
	position: relative;
	left: 35px;
}

.back-btn {
	position: relative;
	left: -10px;
}

@media screen and (max-width: 810px) {
	.next-btn {
		left: 20px;
	}
}

@media screen and (max-width: 730px) {
	.next-btn {
		left: 50px;
	}
}

@media screen and (max-width: 420px) {
	.next-btn {
		left: 70px;
	}
}

@media screen and (max-width: 400px) {
	.next-btn {
		left: 15px;
	}
}
