html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.full-page {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		rgb(174, 216, 24),
		rgb(28, 175, 52),
		rgb(34, 126, 64)
	);
	/* background-image: url('E:\Web Dev\Projects\Unikorn\email-app\app\src\components\images\background2.jpg'); */
	background-position: center;
	background-size: cover;
	position: absolute;
}

header {
	font-size: 20px;
}

.box {
	width: 800px;
	height: 500px;
	background-color: aliceblue;
	margin: auto;
	margin-top: 80px;
	display: grid;
	grid-template-columns: auto auto;
	border-radius: 15px;
}

.left {
	width: 380px;
	display: grid;
	grid-template-rows: 130px auto;
	text-align: center;
	margin-left: 10px;
}

.pages {
	margin-top: 60px;
	margin-left: 50px;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 0 20px;
	text-align: center;
}

.other,
.current {
	width: 50px;
	height: 40px;
	border-radius: 50px;
	background-color: rgb(33, 119, 30);
	color: white;
	padding-top: 10px;
	font-size: 25px;
}

.other {
	background-color: rgb(13, 196, 6);
}
.image {
	width: 390px;
	height: 480px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
	margin-top: 10px;
	border-radius: 15px;
	background-image: linear-gradient(
			rgba(180, 180, 180, 0.3),
			rgba(180, 180, 180, 0.3)
		),
		url('E:/Web Dev/Projects/Unikorn/email-app/app/src/components/images/background.jpg');
	/* background: linear-gradient(
		rgb(174, 216, 24, 0.8),
		rgb(28, 175, 52, 0.8),
		rgb(34, 126, 64, 0.8)
	); */
}

img {
	margin: 100px 95px 30px 100px;
}

p {
	margin: 0 40px;
	text-align: justify;
}

.details {
	margin: 25px 50px;
	text-align: left;
	font-size: 15px;
}

label {
	font-style: bold;
}

.email,
.gender {
	margin-left: 17px;
}

.name {
	margin-left: 15px;
}
input {
	margin: 10px;
	width: 180px;
	font-size: 12px;
	padding: 8px;
	border: 0;
	outline: none;
	border-radius: 5px;
	background-color: rgba(36, 218, 66, 0.3);
}

.next-btn,
.back-btn {
	width: 100px;
	/* margin: 10px 100px; */
	font-size: 15px;
	padding: 10px 15px;
	background-color: rgb(28, 175, 52);
	color: white;
}

.back-btn:hover {
	background: rgb(21, 124, 38);
	cursor: pointer;
}
.next-btn:hover {
	background: rgb(21, 124, 38);
	cursor: pointer;
}

@media screen and (max-width: 810px) {
	.box {
		width: 700px;
	}
	.left {
		width: 330px;
		margin-left: 0px;
	}
	.image {
		width: 350px;
	}
	.details {
		margin: 25px 30px;
		margin-left: 40px;
	}
	.lab {
		font-size: 13px;
	}
	input {
		width: 170px;
	}
}

@media screen and (max-width: 730px) {
	.image,
	img,
	p {
		display: none;
	}
	.box {
		width: 400px;
	}
	.left {
		width: 400px;
	}
	.details {
		width: 300px;
		margin: 25px 50px;
	}
	label {
		font-size: 16px;
	}
	.lab {
		font-size: 15px;
	}
	.email,
	.name,
	.gender,
	.addr,
	.phone {
		width: 200px;
		height: 20px;
	}
}

@media screen and (max-width: 420px) {
	.box {
		width: 320px;
	}
	.left {
		width: 320px;
	}
	.details {
		width: 260px;
		margin: 25px 30px;
	}
	.pages {
		margin-left: 35px;
	}
	.email,
	.name,
	.phone {
		width: 172px;
		height: 18px;
	}
	.gender,
	.addr {
		width: 165px;
	}
	.lab {
		font-size: 13px;
		margin-left: 2px;
	}
	label {
		font-size: 13px;
	}
}
